* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-image: url('https://p4.wallpaperbetter.com/wallpaper/829/360/922/glass-map-magnifying-glass-wallpaper-preview.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


#headerDiv {
  margin: auto;
  width: 80%;
  text-align: center;
  border-radius: 1rem; 
}

#headerDiv>h1 {
  font-weight: bold;
  color: black;
}

#questionDiv {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 3rem;
  margin: 0 auto 0 auto;
  margin-top: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  background: lightgray;
  border-radius: 5rem;
  margin-bottom: 1rem;
}


.question-card {
  margin: 0 auto;
  background: gray ;
  opacity: 0.9;
  padding: 1.3rem;
  border-radius: 5rem;
  color: white;
  -webkit-box-shadow: 75px 35px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 75px 35px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 75px 35px 26px -16px rgba(0, 0, 0, 0.75);
  width: 80%;
  height: auto;
}

ul {
  list-style: none;

}

li {
  background : linear-gradient(90deg, #9dc588, #49b22e);
  width: 40%;
  margin: auto;
  padding: 1rem;
  border: 3px solid white;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}


.question-text {
  text-align: center;
  color: darkblue;
  font-size: 1.5rem;
}


#final-results {
  margin: 0 auto;
  background: gray;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  -webkit-box-shadow: 75px 35px 26px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 75px 35px 26px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 75px 35px 26px -16px rgba(0, 0, 0, 0.75);
  width: 50%;
  margin-top: 1rem  ;
  height: auto;
}

button {
  margin-top: 2rem;
  background-color: red;
  border: none;
  color: white;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 1.5rem;
}